<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardápio - GastroNet</title>
    <link rel="stylesheet" href="CSS/Cardapio.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="JS/cardapio.js"></script>
</head>
<body>
    <nav class="a">
        <div>
            <img src="imgs/logo.png" alt="Logo" class="logo">
        </div>
        <h2>Cadastro e Gerenciamento de Cardápios</h2>
    </nav>

    <nav class="b">
        <button onclick="window.location.href='index.html'">Tela Principal</button>
        <button onclick="window.location.href='funcionarios.html'">Funcionários</button>
        <button onclick="window.location.href='clientes.html'">Clientes</button>
        <button onclick="window.location.href='pedidos.html'">Pedidos</button>
    </nav>

    <section>
        <div>
            <h2 onclick="$('#cadastroCardapio').toggle()">Adicionar Novo Cardápio</h2>
            <form id="cadastroCardapio" style="display: none;">
                <label for="nomeItem">Nome do item:</label>
                <input type="text" id="nomeItem" name="nomeItem" required>

                <label for="Descricao">Descrição:</label>
                <textarea id="Descricao" name="Descricao" rows="4" required></textarea>

                <label for="Valor">Valor:</label>
                <div class="Valor-container">
                    <span class="currency-symbol">R$</span>
                    <input type="number" id="Valor" name="Valor" step="0.01" required>
                </div>

                <button type="submit">Adicionar Cardápio</button>
            </form>
        </div>

        <div>
            <h2 onclick="$('#listaCardapio').toggle()">Cardápios Cadastrados</h2>
            <ul id="listaCardapio" style="display: none;">
                <!-- Lista de Cardapios será carregada aqui via AJAX -->
            </ul>
        </div>
    </section>

    <script>
    </script>
</body>
</html>
