<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes - GastroNet</title>
    <link rel="stylesheet" href="CSS/CadastroCliente.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="JS/cliente.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <nav class="a">
        <div>
            <img src="imgs/logo.png" alt="Logo" class="logo">
        </div>
        <h2>Cadastro e Gerenciamento de Clientes</h2>
    </nav>

    <nav class="b">
        <button onclick="window.location.href='index.html'">
            Tela Principal
        </button>
        <button onclick="window.location.href='funcionarios.html'">
            👨‍💼 Funcionários
        </button>
        <button onclick="window.location.href='cardapio.html'">
            🍽️ Cardápio
        </button>
        <button onclick="window.location.href='pedidos.html'">
            📋 Pedidos
        </button>
    </nav>

    <section>
        <div>
            <h2 onclick="$('#cadastroCliente').toggle()">Cadastrar Cliente</h2>
            <form id="cadastroCliente" style="display: none;">
                <label for="nomeCliente">Nome:</label>
                <input type="text" id="nomeCliente" name="nomeCliente" required>

                <label for="telefone">Telefone:</label>
                <input type="text" id="telefone" name="Telefone" required>

                <label for="endereco">Endereço:</label>
                <input type="text" id="endereco" name="Endereco" required>

                <label for="emailCliente">Email:</label>
                <input type="email" id="emailCliente" name="Email" required>

                <button type="submit">Cadastrar</button>
            </form>
        </div>

        <div>
            <h2 onclick="$('#listaClientes').toggle()">Lista de Clientes</h2>
            <ul id="listaClientes" style="display: none;">
                <!-- Lista de CLientes será carregada aqui via AJAX -->
            </ul>
        </div>

        <div>
            <h2 onclick="$('#buscarClienteForm').toggle()">Buscar Cliente</h2>
            <form id="buscarClienteForm" style="display: none;">
                <label for="clienteId">ID:</label>
                <input type="number" id="clienteId" name="clienteId" required>
                <button type="submit">Buscar</button>
            </form>
            <div id="clienteEncontrado"></div>
        </div>
        

        <div>
            <h2 onclick="$('#alterarClienteForm').toggle()">Alterar CLiente</h2>
            <form id="alterarClienteForm" style="display: none;">
                <label for="alterarId">ID:</label>
                <input type="number" id="alterarId" name="alterarId" required>

                <label for="alterarNome">Nome:</label>
                <input type="text" id="alterarNome" name="alterarNome" required>

                <label for="alterarTelefone">Telefone:</label>
                <input type="text" id="alterarTelefone" name="alterarTelefone" required>

                <label for="alterarEndereco">Endereço:</label>
                <input type="text" id="alterarEndereco" name="alterarEndereco" required>

                <label for="alterarEmail">Email:</label>
                <input type="text" id="alterarEmail" name="alterarEmail" required>

                <button type="submit">Alterar</button>
            </form>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 GastroNet</p>
    </footer>
</body>
</html>
