<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GastroNet - Sistema de Restaurante</title>
    <link rel="stylesheet" href="CSS/index.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <nav class="b">
        <div>
            <img src="imgs/logo.png" alt="Logo" class="logo">
        </div>
        <h1>Bem-vindo ao GastroNet</h1>
    </nav>
    
    <nav class="a">
        <a href="funcionarios.html">Funcionários</a>
        <a href="clientes.html">Clientes</a>
        <a href="cardapio.html">Cardápio</a>
        <a href="pedidos.html">Pedidos</a>
    </nav>


    <footer>
        <p>&copy; 2024 GastroNet</p>
    </footer>
</body>
</html>
