<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - GastroNet</title>
    <link rel="stylesheet" href="CSS/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="JS/login.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <nav class="a">
        <div>
            <img src="imgs/logo.png" alt="Logo" class="logo">
        </div>
        <h2>Login do Funcionário</h2>
    </nav>

    <nav class="b">
        <form id="loginForm">
            <label for="login">Login:</label>
            <input type="text" id="login" name="login" required>

            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required>

            <button type="submit" onclick="window.location.href='index.html'">Entrar</button>
        </form>

        <div>
            <p>Não tem uma conta?</p>
            <button onclick="window.location.href='funcionarios.html'">Cadastre-se aqui</button>
        </div>
    </nav>

    <footer>
        <p>&copy; 2024 GastroNet</p>
    </footer>

    <script>
    </script>
</body>
</html>
