<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos - GastroNet</title>
    <link rel="stylesheet" href="CSS/Pedidos.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="JS/pedidos.js"></script>
</head>
<body>

    <nav class="a">
        <div>
            <img src="imgs/logo.png" alt="Logo" class="logo">
        </div>
        <h2>Cadastro e Gerenciamento de Pedidos</h2>
    </nav>

    <nav class="b">
        <button onclick="window.location.href='index.html'">Tela Principal</button>
        <button onclick="window.location.href='funcionarios.html'">Funcionários</button>
        <button onclick="window.location.href='clientes.html'">Clientes</button>
        <button onclick="window.location.href='cardapio.html'">Cardapios</button>
    </nav>

    <section>
        <div>
            <h2 onclick="$('#cadastroPedido').toggle()">Cadastrar Pedido</h2>
            <form id="cadastroPedido" style="display: none;">
                <label for="Cliente">Cliente:</label>
                <select id="listaCliente" name="cliente" required>
                    <!-- Clientes serão carregados aqui via AJAX -->
                </select>

                <label for="Itens">Itens:</label>
                <div id="listaItens">
                    <!-- Os itens serão carregados aqui via AJAX -->
                </div>



                <label for="valorTotal">Valor Total: R$ <span id="valorTotal">0.00</span></label>

                <label for="formaPag">Forma de Pagamento:</label>
                <select id="formaPag" name="formaPag" required>
                    <option value="dinheiro">Dinheiro</option>
                    <option value="pix">Pix</option>
                    <option value="cartao">Cartão</option>
                </select>

                <button type="submit">Cadastrar Pedido</button>
            </form>
        </div>

        <div>
            <h2 onclick="$('#listaPedido').toggle()">Lista de Pedidos</h2>
            <ul id="listaPedido" style="display: none;">
                <!-- Lista de Pedidos será carregada aqui via AJAX -->
            </ul>
        </div>

    </section>

    <script>
    </script>    

</body>
</html>