<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gestão</title>
    <link rel="stylesheet" href="CSS/index.css">
</head>
<body>
    
    <nav class="b">
        <div>
            <img src="imgs/75837d9e-32c8-459e-913e-ac719ac12b2c.jfif" alt="Logo" class="logo">
        </div>
            <h1>Sistema de Gestão de Restaurante</h1>
    </nav>
    

    <nav class="a">
        <a href="CadastroFunc.html">Gerencimento de Funcionários</a>
        <a href="CadastroCliente.html">Gerenciamento de Clientes</a>
        <a href="Cardapio.html">Cardápio</a>
        <a href="Pedidos.html">Pedidos</a>
        <a href="FormaPagamento.html">Forma de Pagamento</a>
    </nav>

    <footer>
        <p>&copy; 2024 - Todos os direitos reservados</p>
    </footer>

</body>
</html>
